.subtitle
  My Friends Who Are With Her
.center.share-btn
  = link_to "Recruit Your Friends", "javascript: void(0);", class: "btn btn-primary share-btn btn-bold", id: "facebook-share-link", "data-url" => 'https://developers.facebook.com/docs/'
- if @friends.any?
  %table.table.table-hover
    %thead
      %th
        Friend
      %th
        City
      %th
        State
    %tbody
      - @friends.each do |friend|
        %tr
          %td
            = friend.friend_name
          %td
            = friend.city
          %td
            = friend.state
- else
  .text.center
    You don't have any friends who are with her. Share this to Facebook to recruit them and #TrumpHate!
