.subtitle
  My Friends Who Are With Her
.center.share-btn
  = link_to "Recruit Your Friends", "javascript: void(0);", class: "btn btn-primary share-btn btn-bold", id: "facebook-share-link", "data-url" => 'https://areyouwithher.herokuapp.com'
%table.table.table-hover
  %thead
    %th
      Friend
    %th
      City
    %th
      State
    %th
      Voted?
  - if @friends.any?
    %tbody
      - @friends.each do |friend|
        %tr
          %td
            = friend.friend_name
          %td
            = friend.city
          %td
            = friend.state
          %td
            Not Yet!
- if !@friends.any?
  .text.center
    You don't have any friends who are with her. Share this on Facebook to recruit them and #TrumpHate!
