#requestSeatModal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %h4.modal-title 
          Request Seats
        .text-center
          Hello
      .modal-body
        Hello
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close