%section
  .textContainer.center
    .title.main-question
      Are you with her?
    .col-xs-4.center
      = link_to "Find Events", events_path, class: "btn btn-lg btn-success btn-home"
    .col-xs-4.center
      = link_to "Find/Offer a Ride", cars_path, class: "btn btn-lg btn-success btn-home"
    .col-xs-4.center
      = link_to "Are you with her?", aywh_path, class: "btn btn-lg btn-success btn-home"
