%section
  .textContainer.center
    .title.main-question
      Are you with her?
    .col-xs-6.right 
      = link_to "Yes", yes_path, class: "btn btn-lg btn-success btn-yn"
    .col-xs-6.left
      = link_to "No", no_path, class: "btn btn-lg btn-danger btn-yn"