.title.great
  Great!
.subtitle
  Sign up for an account and we'll remind you to vote on election day. 
  %br
    It's also an easy way to find all of your friends in swing states, so that we can remind them too!
.col-xs-12.facebook-btn
  .col-xs-4
  .col-xs-4
    %a{class: "btn btn-block btn-social btn-lg btn-facebook btn-home", :href => "auth/facebook"}
      %i.fa.fa-facebook
      .sign-in
        == Sign Up With Facebook
  .col-xs-4