.title.great
  Great!
.subtitle
  Sign up for an account and we'll remind you to vote on election day. 
  %br
    It's also an easy way to see all of your friends who are with her and find your friends who live in swing states! On election day, you can keep each other updated on who has and hasn't voted.
.col-xs-12.facebook-btn
  .col-xs-4
  .col-xs-4
    %a{class: "btn btn-block btn-social btn-lg btn-facebook btn-home", :href => "auth/facebook"}
      %i.fa.fa-facebook
      .sign-in
        == Sign Up With Facebook
  .col-xs-4