.table-hover{
  margin-bottom: 10px !important;
}
.text{
  padding-bottom: 20px;
}
h3{
  color: white;
}
.btn-request{
  margin-bottom: 20px;
}
.filter{
  padding-bottom: 15px;
}
input{
  color:black;
}