.navbar.navbar-default.navbar-fixed-bottom
  .container
    .navbar-text.footer.center
      == This site was built by volunteers and is not affiliated with #{link_to "Hillary for America", "https://www.hillaryclinton.com/", target: "_blank"}
      